* {
    position: absolute;
}

.box {
    width: 50px;
    height: 50px;
    margin: 50px 100px;
    box-shadow: 250px 0 #000, 
    300px 0 #000,
    350px 0 #000,
    400px 0 #000,
    450px 0 #000,

    150px 50px #000,
    200px 50px #000,
    250px 50px #fc0,
    300px 50px #fc0,
    350px 50px #fc0,
    400px 50px #fc0,
    450px 50px #fc0,
    500px 50px #000,
    550px 50px #000,

    100px 100px #000,
    150px 100px #fc0,
    200px 100px #fc0,
    250px 100px #fc0,
    300px 100px #fc0,
    350px 100px #fc0,
    400px 100px #fc0,
    450px 100px #fc0,
    500px 100px #fc0,
    550px 100px #fc0,
    600px 100px #000, 

    50px 150px #000,
    100px 150px #fc0,
    150px 150px #fc0,
    200px 150px #fc0,
    250px 150px #fc0,
    300px 150px #fc0,
    350px 150px #fc0,
    400px 150px #fc0,
    450px 150px #fc0,
    500px 150px #fc0,
    550px 150px #fc0,
    600px 150px #fc0,
    650px 150px #000,

    50px 200px #000,
    100px 200px #fc0,
    150px 200px #fc0,
    200px 200px #fc0,
    250px 200px #fc0,
    300px 200px #fc0,
    350px 200px #fc0,
    400px 200px #fc0,
    450px 200px #fc0,
    500px 200px #fc0,
    550px 200px #fc0,
    600px 200px #fc0,
    650px 200px #000,

    0 250px #000,
    50px 250px #000,
    100px 250px #000,
    150px 250px #000,
    200px 250px #000,
    250px 250px #000,
    300px 250px #000,
    350px 250px #000,
    400px 250px #000,
    450px 250px #000,
    500px 250px #000,
    550px 250px #000,
    600px 250px #000,
    650px 250px #000,
    700px 250px #000,

    0 300px #000,
    50px 300px #fc0,
    100px 300px #000,
    150px 300px #fff,
    200px 300px #fff,
    250px 300px #000,
    300px 300px #000,
    350px 300px #000,
    400px 300px #000,
    450px 300px #fff,
    500px 300px #fff,
    550px 300px #000,
    600px 300px #000,
    650px 300px #fc0,
    700px 300px #000,

    0 350px #000,
    50px 350px #fc0,
    100px 350px #000,
    150px 350px #fff,
    200px 350px #000,
    250px 350px #000,
    300px 350px #000,
    350px 350px #fc0,
    400px 350px #000,
    450px 350px #fff,
    500px 350px #000,
    550px 350px #000,
    600px 350px #000,
    650px 350px #fc0,
    700px 350px #000,

    0 400px #000,
    50px 400px #fc0,
    100px 400px #fc0,
    150px 400px #000,
    200px 400px #000,
    250px 400px #000,
    300px 400px #fc0,
    350px 400px #fc0,
    400px 400px #fc0,
    450px 400px #000,
    500px 400px #000,
    550px 400px #000,
    600px 400px #fc0,
    650px 400px #fc0,
    700px 400px #000,

    0 450px #000,
    50px 450px #fc0,
    100px 450px #fc0,
    150px 450px #fc0,
    200px 450px #fc0,
    250px 450px #fc0,
    300px 450px #fc0,
    350px 450px #fc0,
    400px 450px #fc0,
    450px 450px #fc0,
    500px 450px #fc0,
    550px 450px #fc0,
    600px 450px #fc0,
    650px 450px #fc0,
    700px 450px #000,

    50px 500px #000,
    100px 500px #fc0,
    150px 500px #fc0,
    200px 500px #fc0,
    250px 500px #fc0,
    300px 500px #fc0,
    350px 500px #fc0,
    400px 500px #fc0,
    450px 500px #fc0,
    500px 500px #000,
    550px 500px #fc0,
    600px 500px #fc0,
    650px 500px #000,

    50px 550px #000,
    100px 550px #fc0,
    150px 550px #fc0,
    200px 550px #fc0,
    250px 550px #fc0,
    300px 550px #000,
    350px 550px #000,
    400px 550px #000,
    450px 550px #000,
    500px 550px #fc0,
    550px 550px #fc0,
    600px 550px #fc0,
    650px 550px #000,

    100px 600px #000,
    150px 600px #fc0,
    200px 600px #fc0,
    250px 600px #fc0,
    300px 600px #fc0,
    350px 600px #fc0,
    400px 600px #fc0,
    450px 600px #fc0,
    500px 600px #fc0,
    550px 600px #fc0,
    600px 600px #000,

    150px 650px #000,
    200px 650px #000,
    250px 650px #fc0,
    300px 650px #fc0,
    350px 650px #fc0,
    400px 650px #fc0,
    450px 650px #fc0,
    500px 650px #000,
    550px 650px #000,

    250px 700px #000,
    300px 700px #000,
    350px 700px #000,
    400px 700px #000,
    450px 700px #000;
}